<head>
<style>
#wpe {
	border: 1px solid #336633;
	background: #FFFFFF;
	color: #000000;
	margin: auto;
	width: 40%;
	padding: 10px;
	font-family: KaiTi,Sans Serif;
}

label, input, select {
	width: 40%;
	padding: 1px;
}
</style>
</head>

<body>
<div id='wpe'>
<h1 align='center'>Weather Powered Email</h1>
<hr color = '#336633'>
<form action="{% url 'confirm' %}" method="post" align='center'>
{% csrf_token %}
<label for="email_input">Email</label><br />
<input type="email" name="email_input" value="" required /><br /><br />

<label for="location_input">Location</label><br />
<select name="location_input" required>
	{% for loc_id, loc in location_set %}
		<option value="{{ loc_id }}">{{ loc }}</option>
	{% endfor %}
</select><br /><br />

<input type="submit" value="Subscribe" />
</form>
</div>
</body>